@font-face {
   font-family: 'dogicapixel';
   font-display: swap;
   src: url('file:///C:/Users/leahp/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-27_225354/fonts/dogicapixel/font.ttf');
}
